@page "/access-denied"
@layout FinalProject.Components.Layout.LandingLayout.Landing1
<div class="row">
    <div class="col-12">
        <div class="text-center mt-2">
            <span class="text-danger fw-bolder">
                You dont have permission
            </span>
        </div>
    </div>
</div> 

@code {

}
