<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand mx-auto" href="">Staff Dashboard</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staff/home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staff/manage-appointment">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Appointment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staff/manage-vaccines">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Vaccine
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staff/manage-customer">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Manage Customer
            </NavLink>
        </div>
    </nav>
</div>

