@inherits LayoutComponentBase
@using FinalProject.Components.Layout


<div class="login-page">
    <main class="login-main">
        <div class="login-content">
            @Body
        </div>
    </main>
</div>
